<!DOCTYPE html>
<html>
<head>
    <title><%= title %> &mdash; Simple CRUD using Sails.js</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!--STYLES-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/node-waves/waves.min.css">
    <link rel="stylesheet" href="/plugins/animate-css/animate.min.css">
    <link rel="stylesheet" href="/plugins/morrisjs/morris.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/themes/all-themes.min.css">
    <link rel="stylesheet" href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/waitme/waitMe.css">
    <link rel="stylesheet" href="/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
    <style>
        a.nostyle:link {
            text-decoration: inherit;
            color: inherit;
        }
        a.nostyle:visited {
            text-decoration: inherit;
            color: inherit;
        }
    </style>
</head>

<body class="theme-indigo">
    <!-- Header -->
    <%- partial('../partials/header.ejs') %>
    <!-- End of Header -->

    <%- body %>

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
    <!-- We'll use the RequireJS AMD instead to load scripts. -->
    <script src="<%= sails.config.custom.baseUrl %>js/require.config.js"></script>
    <script data-main="<%= mainJS %>" src="<%= sails.config.custom.baseUrl %>js/require.js"></script>
</body>
</html>
