<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%= title %>
            <small>Simple CRUD using SailsJS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<%= sails.config.custom.baseUrl %>blog"><i class="fa fa-home"></i>Simple CRUD</a></li>
            <li class="active"><a href="<%= sails.config.custom.baseUrl %>blog/create"><i class="fa fa-plus-square-o"></i><%= title %></a></li>
        </ol>
    </section>

    <section class="content">
        <% var successMessage =
            `<div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i>Success!</h4>
                        You have successfully created a new article.
                    </div>
                </div>
            </div>`;
            var errorMessage =
            `<div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i>Error!</h4>
                        You already have the same title in another article. Please change your title.
                    </div>
                </div>
            </div>`;
        %>
        <% if (success) { %>
            <%- successMessage %>
        <% } %>
        <% if (invalid) { %>
            <%- errorMessage %>
        <% } %>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h2 class="box-title"><%= title %></h2>
                    </div>
                    <div class="box-body">
                        <form role="form" action="" method="POST">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <div class="controls">
                                    <input type="text" name="title" id="title" style="width:100%;" required maxlength="255" placeholder="Enter your desired title here..." class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content">Content:</label>
                                <div class="controls">
                                    <textarea name="content" id="content" style="width:100%;height:250px;" required maxlength="65535" placeholder="Type your blog article content here..." class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <center>
                            <div class="form-actions">
                                <input type="submit" name="submit" value="Create a new article" class="btn btn-success btn-flat"/>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!-- Back to Home -->
        <div class="row">
            <div class="col-xs-12">
                <center>
                    <a href="<%= sails.config.custom.baseUrl %>blog" class="btn btn-primary btn-flat">Back to Home</a>
                </center>
            </div>
        </div>
    </section>
</div>
