<section class="content">
    <!-- Title -->
    <div class="container-fluid">
        <ol class="breadcrumb" style="display:inline-block;float:right;margin-top:0">
            <li><a href="<%= sails.config.custom.baseUrl %>blog"><i class="material-icons">home</i> Simple CRUD</a></li>
            <li class="active"><a href="<%= sails.config.custom.baseUrl %>blog"><i class="material-icons">home</i> Home</a></li>
        </ol>
        <div class="block-header" style="display:inline-block;margin-top:0.7rem">
            <h2 style="display:inline-block;font-size:2rem;"><%= title %></h2> &mdash; <small>Simple CRUD (SailsJS)</small>
        </div>
    </div>
    <!-- #Title -->
    <!-- Content -->
    <div class="row clearfix" style="margin-top:10rem;">
        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <a href="<%= sails.config.custom.baseUrl %>blog/list" class="nostyle">
                <div class="info-box bg-blue hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">pageview</i>
                    </div>
                    <div class="content">
                        <div class="text" style="font-size:3.5rem;margin-top:0.7rem;">View Blog</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <a href="<%= sails.config.custom.baseUrl %>blog/create" class="nostyle">
                <div class="info-box bg-orange hover-expand-effect" style="height:auto">
                    <div class="icon">
                        <i class="material-icons">add_box</i>
                    </div>
                    <div class="content">
                        <div class="text" style="font-size:3.5rem;margin-top:0.7rem;">Create Article</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- #Content -->
</section>
