<div id="breadcrumb">
    <a href="<%= sails.config.custom.baseUrl %>blog" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Simple CRUD</a>
    <a href="#"><%= title %></a>
</div>

<div class="container-fluid">
    <div class="row-fluid" style="margin-top: 3rem;">
        <center>
        <div class="span6">
                <a href="<%= sails.config.custom.baseUrl %>blog/list"><img src="/img/view.png" alt="View Blog" class="homeimg"></a>
                <h2>
                    <a href="<%= sails.config.custom.baseUrl %>blog/list" style="margin-top: 3rem;margin-bottom: 3rem;" class="btn btn-primary btn-large">View Blog</a>
                </h2>
        </div>
        <div class="span6">
                <a href="<%= sails.config.custom.baseUrl %>blog/create"><img src="/img/create.png" alt="Create Blog Article" class="homeimg"></a>
                <h2>
                    <a href="<%= sails.config.custom.baseUrl %>blog/create" style="margin-top: 3rem;margin-bottom: 3rem;" class="btn btn-success btn-large">Create Blog Post</a>
                </h2>
        </div>
        </center>
    </div>