<section class="content">
    <!-- Title -->
    <div class="container-fluid">
        <ol class="breadcrumb" style="display:inline-block;float:right;margin-top:0">
            <li><a href="<%= sails.config.custom.baseUrl %>blog"><i class="material-icons">home</i> Simple CRUD</a></li>
            <li class="active"><a href="<%= sails.config.custom.baseUrl %>blog"><i class="material-icons">layers</i> <%= title %></a></li>
        </ol>
        <div class="block-header" style="display:inline-block;margin-top:0.7rem">
            <h2 style="display:inline-block;font-size:2rem;"><%= title %></h2> &mdash; <small>Simple CRUD (SailsJS)</small>
        </div>
    </div>
    <!-- #Title -->
    <!-- Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-indigo">
                    <h2>Articles</h2>
                </div>
                <div class="body table-responsive">
                  <table class="table table-bordered table-striped table-hover dataTable" id="articlesTable">
                      <thead>
                          <th>Title</th>
                          <th>Content</th>
                          <th>Create</th>
                          <th>Edit</th>
                          <th>Delete</th>
                      </thead>
                      <tbody>
                          <!-- Use foreach to display all articles in each row -->
                          <% blog.forEach( function (article) {  %>
                          <tr>
                              <td>
                                  <a href = "<%= sails.config.custom.baseUrl + 'blog/' + article.slug %>" style="color:black;">
                                      <%= article.title %>
                                  </a>
                              </td>
                              <td>
                                  <%= article.content.substr(0,75) + "..." %>
                              </td>
                              <td width="1%">
                                  <a href="<%= sails.config.custom.baseUrl + 'blog/' + article.slug %>" class="btn btn-info waves-effect action">
                                      <i class="fa fa-list-ul"></i><br>
                                      View
                                  </a>
                              </td>
                              <td width="1%">
                                  <a href="<%= sails.config.custom.baseUrl + 'blog/edit/' + article.slug %>" class="btn btn-warning waves-effect action">
                                      <i class="fa fa-edit"></i><br>
                                      Edit
                                  </a>
                              </td>
                              <td width="1%" class="js-sweetalert">
                                  <a onclick="article.delete('<%= article.slug %>')" class="btn btn-danger waves-effect action" id="<%= article.slug %>">
                                      <i class="fa fa-trash-o"></i><br>
                                      Delete
                                  </a>
                              </td>
                          </tr>
                          <% } ); %>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #Table -->
    <!-- Back to Home -->
    <div class="row clearfix" style="margin-bottom:2rem;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <center>
                <a href="<%= sails.config.custom.baseUrl %>blog" class="btn btn-primary waves-effect">Back to Home</a>
            </center>
        </div>
    </div>
    <!-- #Back to Home -->
</section>
