<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%= title %>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<%= sails.config.custom.baseUrl %>blog"><i class="fa fa-home"></i>Simple CRUD</a></li>
            <li class="active"><a href="<%= sails.config.custom.baseUrl %>blog/create"><i class="fa fa-list-ul"></i><%= title %></a></li>
        </ol>
    </section>

    <section class="content">
        <% var successMessage =
            `<div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i>Success!</h4>
                        You have successfully edited this article. Click <a href="`+sails.config.custom.baseUrl+`blog/list" class="otherlinks"><strong>here</strong></a> to go back to the blog archive.
                    </div>
                </div>
            </div>`;
        %><% if (success) { %>
            <%- successMessage %>
        <% } %>
        <div class="row">
            <div class="col-md-12">
                <%= content %>
            </div>
        </div>
        <!-- Back to Home -->
        <div class="row">
            <div class="col-xs-12">
                <center>
                    <a href="<%= sails.config.custom.baseUrl %>blog" class="btn btn-primary btn-flat">Back to Home</a>
                </center>
            </div>
        </div>
    </section>
</div>
